/*ESTO ES PARA EL HEADER*/
header{
padding-left: 1.0rem;
background-color: rgb(42, 42, 140);
}
li> a{
color: white !important;
}
#img-logo-nav{
width: 8rem;
}
#navbarNav{
display: flex;
justify-content: end;
}
/*SECCION PARA EL CARROUSEL*/
.seccion-carrousel{
min-height: 20vh;
}
#carouselExampleAutoplaying{
min-height: 20vh;
}
.carousel-inner{
min-height: 20vh;
}
.img-carrousel{
height: 20vh;
object-fit: cover;
}
/*SECCION PARA LOS CHECKBOX*/
.box-checks{
min-height: 15vh;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem;
background-color: rgb(43, 60, 135);
}
#search{
width: 25rem;
border-color: beige;
}
.navbar-collapse {
    display: none !important; /* Oculta el menú cuando está colapsado */
    text-align: center;
  }
  
  /* Estilo para el menú colapsado en dispositivos móviles */
  .navbar-collapse.show {
    display: block !important; /* Muestra el menú cuando está desplegado */
}
.form-check-label{
color: white;
}
/*ESTO ES PARA LA SECCION DEL HOME*/
.seccion-cards{
    background-image: url(../images/astro.png);
    background-size: cover;
    background-repeat: no-repeat;
   height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
gap: 4rem; 
padding: 2rem;
}
.img-cards{
min-height: 12rem !important;
}
.card-body{
background-color: black !important;
}
.card-title, .card-text, .text-price {
color: white !important;
}
.card{
border: 3px solid black !important;
max-height: 25rem !important;
}
.price-btn{
display: flex;
justify-content: space-around;
}
/*ESTO ES PARA EL FOOTER*/
footer{
height: 10vh;
background-color: rgb(42, 42, 140);
display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.icons{
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .imgsvg{
    height: 2rem;
    }
/*ESTO ES UPCOMING*/
#sec-card-upcoming{
    height: auto;   
}
/*ESTO ES PAST*/
#sec-card-past{
height: auto ;
}
    
footer> h3{
color: white;
}

/*ESTO ES CONTACT*/
.seccion-form-contact{
min-height:62vh ;
background-image: url(../images/49066cd709a43dcc797134a62b6eb91f.jpg);
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.form-contact{
width: 25rem;
color: white;
font-size: 1.3rem;
}
/*ESTO ES STATS*/
.seccion-table-stats{
min-height:62vh ;
background-image: url(../images/49066cd709a43dcc797134a62b6eb91f.jpg);
display: flex;
justify-content: center;
align-items: center;
}
td, th{
color: white;
}
table{
border: 2px solid rgb(255, 255, 255);
}
td{
border: 2px solid rgb(255, 255, 255);
}
/*ESTO ES PARA DEATIL*/
.seccion-detail{
    background-image: url(../images/astro.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
gap: 4rem; 
padding: 2rem;
}
.card-img-top{
width: 48rem;
min-height: 15rem;
object-fit: cover;
}
#card-body-details{
min-height: 17rem !important;
}
#card-filter-details{
min-height: 33rem;
}

@media only screen and (min-width:768px) and (max-width:1023px){
.navbar-toggler{
height: 2rem;
width: 2.5rem;
padding-right: 2.5rem;
margin-top: 0.5rem;
}
.navbar-toggler-icon{
height: 1.5rem;
}
.box-checks{
display: flex;
flex-direction: column;
justify-content: space-around;
height: 28vh;
}
#checkbox-id{
width: 100vw;
padding-bottom: 2rem;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.card-img-top{
    width: auto;
    object-fit: cover;
}
#card-body-details{
    min-height: 19rem !important;
    }
    #card-filter-details{
        min-height: 35rem;
        }
}
@media only screen and (min-width:320px) and (max-width:767px){
.box-checks{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 28vh;
padding: 0;
}   
#checkbox-id{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}   
.form-control{
width: auto;
margin-left: 5.5rem;
margin-bottom: 1rem;
}
.seccion-form-contact{
    height:auto ;
    background-color: rgb(41, 41, 78);
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    }
    .form-contact{
        width: 95vw;
        color:rgb(255, 255, 255);
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
        .card-img-top{
            width: auto;
            min-height: 10rem;
            object-fit: cover;
            }
            .card-body{
            overflow-y: hidden;
            }
main{
overflow-x: hidden;
}
}
